.App {
  text-align: center;
  background: rgb(50,55,50);
  background: linear-gradient(45deg, rgba(50,55,50,1) 0%, rgba(45,58,78,1) 15%, rgba(38,111,93,1) 100%, rgba(41,117,134,1) 100%); 
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
